.showButton{
  display: none;
  width: 32px;
  height: 32px;
  background-color: #8E47FB;
  position: absolute;
  top: 0;
  left: 100%;
  z-index: 1000000;
  text-align: center;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .showButton {
    display: block;
  }
}
